.app-routings-container {
  padding: 2px 8px !important;
}

::ng-deep .p-drawer-mask {
  display: none !important;
}

::ng-deep .p-drawer-left {
  top: 0;
  left: 0;
  width: 14rem !important;
  height: 100%;
}

a {
  text-decoration: none;
}

::ng-deep .p-drawer {
  margin-top: 48px !important;
}

.active-menu {
  background-color: #52a4f53d !important;
  color: #fff !important;
}

.menu-nav-button:hover {
  background-color: #fff !important;
  border: solid 1px #eee !important;
}

::ng-deep .custom-css-btn .p-button {
  background-color: #fff !important;
  border: solid 1px #eeeeee4a !important;
  border-radius: 0 !important;
}
