<p-drawer #drawerRef [(visible)]="visible">
  <ng-template #headless>
    <div class="flex flex-col h-full">
      <div class="d-flex justify-content-center px-6 pt-4 pb-4 shrink-0">
        <img src="assets/icons/logo.png" style="height: 50px" alt="" />
      </div>
      <div class="overflow-y-auto">
        <ul class="list-none p-2 m-0">
          <li>
            <div
              pRipple
              pStyleClass="@next"
              enterFromClass="hidden"
              enterActiveClass="animate-slidedown"
              leaveToClass="hidden"
              leaveActiveClass="animate-slideup"
              class="p-2 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
            >
              <span class="font-medium">FAVORITES</span>
              <i class="pi pi-chevron-down"></i>
            </div>
            <ul class="list-none p-0 m-0 overflow-hidden">
              <li
                routerLink="dashboard"
                (click)="onChangeRoute($event, 'home')"
              >
                <a
                  pRipple
                  class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <i class="pi pi-home mr-2"></i>
                  <span class="font-medium">Home</span>
                </a>
              </li>
              <li (click)="onChangeRoute($event, 'dashboard')">
                <a
                  pRipple
                  class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <i class="pi pi-objects-column mr-2"></i>
                  <span class="font-medium">Dashboard</span>
                </a>
              </li>
              <li>
                <a
                  pRipple
                  pStyleClass="@next"
                  enterFromClass="hidden"
                  enterActiveClass="animate-slidedown"
                  leaveToClass="hidden"
                  leaveActiveClass="animate-slideup"
                  class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <i class="pi pi-users mr-2"></i>
                  <span class="font-medium">Staff</span>
                  <i class="pi pi-chevron-down ml-auto"></i>
                </a>
                <ul
                  class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out"
                >
                  <li (click)="onChangeRoute($event, '/staff')">
                    <a
                      pRipple
                      class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                    >
                      <i class="pi pi-list mr-2"></i>
                      <span class="font-medium">List</span>
                    </a>
                  </li>
                  <li (click)="onChangeRoute($event, '/staff/new')">
                    <a
                      pRipple
                      class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                    >
                      <i class="pi pi-plus mr-2"></i>
                      <span class="font-medium">New staff</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a
                  pRipple
                  pStyleClass="@next"
                  enterFromClass="hidden"
                  enterActiveClass="animate-slidedown"
                  leaveToClass="hidden"
                  leaveActiveClass="animate-slideup"
                  class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <i class="pi pi-folder mr-2"></i>
                  <span class="font-medium">Timesheets & PIs</span>
                  <i class="pi pi-chevron-down ml-auto"></i>
                </a>
                <ul
                  class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out"
                >
                  <li (click)="onChangeRoute($event, '/timesheets')">
                    <a
                      pRipple
                      class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                    >
                      <i class="pi pi-plus mr-2"></i>
                      <span class="font-medium">Timesheets </span>
                    </a>
                  </li>
                  <li (click)="onChangeRoute($event, '/pis')">
                    <a
                      pRipple
                      class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                    >
                      <i class="pi pi-plus mr-2"></i>
                      <span class="font-medium">PIs </span>
                    </a>
                  </li>
                  <li>
                    <a
                      pRipple
                      class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                    >
                      <i class="pi pi-list mr-2"></i>
                      <span class="font-medium">Submitted</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li>
                <a
                  pRipple
                  pStyleClass="@next"
                  enterFromClass="hidden"
                  enterActiveClass="animate-slidedown"
                  leaveToClass="hidden"
                  leaveActiveClass="animate-slideup"
                  class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <i class="pi pi-file mr-2"></i>
                  <span class="font-medium">Complaints</span>
                  <i class="pi pi-chevron-down ml-auto"></i>
                </a>
                <ul
                  class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out"
                >
                  <li>
                    <a
                      pRipple
                      class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                    >
                      <i class="pi pi-list mr-2"></i>
                      <span class="font-medium">List</span>
                    </a>
                  </li>
                  <li>
                    <a
                      pRipple
                      class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                    >
                      <i class="pi pi-plus mr-2"></i>
                      <span class="font-medium">New</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a
                  pRipple
                  class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <i class="pi pi-list mr-2"></i>
                  <span class="font-medium">Tranfer requests</span>
                </a>
              </li>
              <li>
                <a
                  pRipple
                  class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <i class="pi pi-comments mr-2"></i>
                  <span class="font-medium">Messages</span>
                  <span
                    class="inline-flex items-center justify-center ml-auto bg-primary text-primary-contrast rounded-full"
                    style="min-width: 1.5rem; height: 1.5rem"
                    >3</span
                  >
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="list-none p-2 m-0">
          <li>
            <div
              pRipple
              pStyleClass="@next"
              enterFromClass="hidden"
              enterActiveClass="animate-slidedown"
              leaveToClass="hidden"
              leaveActiveClass="animate-slideup"
              class="p-2 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
            >
              <span class="font-medium">SERVICES</span>
              <i class="pi pi-chevron-down"></i>
            </div>
            <ul class="list-none p-0 m-0 overflow-hidden">
              <li>
                <a
                  pRipple
                  class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <i class="pi pi-calendar mr-2"></i>
                  <span class="font-medium">Calendar</span>
                </a>
              </li>
              <li>
                <a
                  pRipple
                  class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <i class="pi pi-chart-bar mr-2"></i>
                  <span class="font-medium">PIs</span>
                </a>
              </li>
              <li>
                <a
                  pRipple
                  class="flex items-center cursor-pointer p-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <i class="pi pi-cog mr-2"></i>
                  <span class="font-medium">Configurations</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="mt-auto">
        <hr class="mb-4 mx-4 border-t border-0 border-surface" />
        <a
          pRipple
          class="m-4 flex items-center cursor-pointer p-2 gap-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
        >
          <!-- <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            shape="circle"
          /> -->
          <span class="font-bold">Josephat Mwakyusa</span>
        </a>
      </div>
    </div>
  </ng-template>
</p-drawer>
<div
  class="app-routings-container"
  style="z-index: 1200"
  [ngStyle]="{ 'margin-left': visible ? '13rem' : '0' }"
>
  <p-button size="small" (click)="visible = !visible" icon="pi pi-bars" />
  <router-outlet />

  <p-button severity="primary" label="Testing button" />
</div>
