<form #form="ngForm">
  <div class="row">
    <ng-container *ngFor="let field of formFields">
      <div
        class="flex flex-col gap-2 mb-2"
        [class]="form.controls[field.id].invalid ? 'invalid-field' : ''"
        [class]="responsivenessClass"
      >
        <label
          style="margin-bottom: -4px; font-weight: 600"
          [ngStyle]="{
            color:
              form.controls[field.id]?.invalid &&
              form.controls[field.id]?.touched
                ? 'red'
                : ''
          }"
          for="{{ field?.id }}"
          >{{ field?.label }}
          <span *ngIf="field?.required">*</span>
        </label>
        <input
          *ngIf="field.type === 'TEXT' || field.type === 'REFERENCE'"
          pInputText
          size="small"
          [name]="field.id"
          [id]="field.id"
          [(ngModel)]="field.value"
          (ngModelChange)="getDataValue($event, field)"
          [disabled]="field?.disabled"
          [required]="field?.required"
          autocomplete="off"
        />
        <textarea
          *ngIf="field.type === 'LONG_TEXT'"
          size="small"
          [rows]="field.rows"
          [cols]="field?.cols"
          pTextarea
          [name]="field.id"
          [id]="field.id"
          [(ngModel)]="field.value"
          (ngModelChange)="getDataValue($event, field)"
          [disabled]="field?.disabled"
          [required]="field?.required"
          autocomplete="off"
        ></textarea>
        <p-inputnumber
          *ngIf="field.type === 'INTEGER_POSITIVE' || field.type === 'NUMBER'"
          size="small"
          [(ngModel)]="field.value"
          [id]="field.id"
          [name]="field.id"
          mode="decimal"
          [min]="field.min"
          [max]="field.max"
          [useGrouping]="false"
          (ngModelChange)="getDataValue($event, field)"
          [disabled]="field?.disabled"
          [required]="field?.required"
          autocomplete="off"
        />
        <p-datepicker
          *ngIf="field.type === 'DATE'"
          [showIcon]="true"
          class="w-100 w-full"
          [name]="field.id"
          [(ngModel)]="field.value"
          [minDate]="field.minDate"
          [maxDate]="field.maxDate"
          [readonlyInput]="true"
          [(ngModel)]="field.value"
          (ngModelChange)="getDataValue($event, field)"
          [disabled]="field?.disabled"
          [required]="field?.required"
          autocomplete="off"
        />

        <p-inputmask
          *ngIf="field.type === 'PHONE_NUMBER' && field.mask"
          [mask]="field.mask"
          [name]="field.id"
          [(ngModel)]="field.value"
          (ngModelChange)="getDataValue($event, field)"
          [placeholder]="field.placeholder"
          [disabled]="field?.disabled"
          [required]="field?.required"
          autocomplete="off"
        ></p-inputmask>
        <ngx-select-user
          *ngIf="field.type === 'USERNAME'"
          [field]="field"
          (userDetails)="onGetUserDetails($event)"
          (userDetails)="getDataValue($event, field)"
        />
        <p-select
          *ngIf="field.type === 'DROPDOWN'"
          [options]="field.options"
          [name]="field.id"
          [(ngModel)]="field.value"
          (ngModelChange)="getDataValue($event, field)"
          [filter]="true"
          filterBy="label"
          [showClear]="true"
          class="w-full w-100"
          [disabled]="field?.disabled"
          [required]="field?.required"
          autocomplete="off"
        >
          <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2">
              <div>{{ field.value }}</div>
            </div>
          </ng-template>
          <ng-template let-option #item>
            <div class="flex items-center gap-2">
              <div>{{ option.label ? option.label : option.name }}</div>
            </div>
          </ng-template>
        </p-select>
        <small
          class="message-info-display"
          *ngIf="
            form.controls[field.id]?.invalid && form.controls[field.id]?.touched
          "
          >{{ field.label }} is required.</small
        >
      </div>
    </ng-container>
  </div>
</form>
